
/*backgrounds*/
.u-background-dark-blue {
    background-color: var(--color-dark-blue);
}

.u-background-medium-blue {
    background-color: var(--color-medium-blue);
}

.u-background-bright-blue {
    background-color: var(--color-bright-blue);
}

.u-background-light-blue {
    background-color: var(--color-light-blue);
}

.u-background-lightest-blue {
    background-color: var(--color-lightest-blue);
}

.u-password-card-background {
    background-color: #9CD3EB80;
}

.u-pass-input-background {
    background-color: #E3F5FF;
}

.u-white-background {
    background-color: #FFFFFF !important;
}

/*colors*/
.u-color-dark-blue {
    color: var(--color-dark-blue);
}

.u-color-medium-blue {
    color: var(--color-medium-blue);
}

.u-color-bright-blue {
    color: var(--color-bright-blue);
}

.u-color-light-blue {
    color: var(--color-light-blue);
}

.u-color-lightest-blue {
    color: var(--color-lightest-blue);
}

.u-color-white {
    color: #FFFFFF;
}

.u-color-success {
    color: #4AA785;
}

.u-color-title-card {
    color:#A3AED0;
}

/*Placeholder Colors*/
.u-placeholder-dark-blue::placeholder {
    color: var(--color-dark-blue);
}

.u-placeholder-medium-blue::placeholder {
    color: var(--color-medium-blue);
}

.u-placeholder-bright-blue::placeholder {
    color: var(--color-bright-blue);
}

.u-placeholder-light-blue::placeholder {
    color: var(--color-light-blue);
}

.u-placeholder-lightest-blue::placeholder {
    color: var(--color-lightest-blue);
}


.u-transparent-white-background {
    background-color: rgba(255, 255, 255, 0.05);
}

.u-color-lighter-blue {
    color: #85D1EF;
}

.u-fog-white-background {
    background-color: #E9EEF3;
}

.u-password-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
    height: 656px;
    border-radius: 24px;
}

.u-main-font-family {
    font-family: Gotham Rounded;
}

.u-secondary-font-family {
    font-family: Open Sans !important;
}

/*Work in progress: adaptar fuentes del figma */

.u-titles {
    font-size: 2em;    
}

.u-subtitles {
    width: 311px;
    height: 73px;
    top: 185px;
    left: 58px;
    padding: 0px 26px 0px 0px;    
}

.u-paragraph {
    width: 162px;
    height: 48px;
    top: 289px;
    left: 58px;
    padding: 0px 18px 2px 0px;
    gap: 0px;
    opacity: 0px;
}

.u-linkStyleless {
    text-decoration: none !important;
}

.sign-in-button {
    background-color: #E3F5FF;
    color: #042E5D;  
    position: absolute;
    top: 2%;
    right: 3%;  
    border: none;
    border-radius: 5px;
    padding: .2em .5em;
    cursor: pointer;
  }

  /*----------------------Dashboard General Styles---------------------------*/

.base-data-card {
    border-radius: 20px;
    padding: 1em;    
}

.default-data-card-bg {
    background-color: #F7F9FB;
    color:#2B3674;    
}

.seccondary-data-card-bg {
    background: linear-gradient(to bottom right, #042E5D, #85D1EF);
    color: #FFFFFF;    
    background-image: url("../assets/login-vector-background.svg");
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.seccondary-data-card-side-bg {
    background: 
        linear-gradient(to right, #85D1EF, #214584, #002E61 ), 
        url("../assets/bubble-image.png");
    background-size: cover;
    background-blend-mode: multiply; 
    color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.card-label {
    font-family: Gotham Rounded;
    font-size: 14px;
    font-weight: 350;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
}

.card-price {
    font-family: Gotham Rounded;
    font-size: 24px;
    font-weight: 350;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
}

.card-sub-label {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}

.card-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to bottom right, #042E5D, #85D1EF);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.seccondary-card-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    color: #042E5D;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
