
/*backgrounds*/
.u-background-dark-blue {
    background-color: var(--color-dark-blue);
}

.u-background-medium-blue {
    background-color: var(--color-medium-blue);
}

.u-background-bright-blue {
    background-color: var(--color-bright-blue);
}

.u-background-light-blue {
    background-color: var(--color-light-blue);
}

.u-background-lightest-blue {
    background-color: var(--color-lightest-blue);
}

.u-password-card-background {
    background-color: #9CD3EB80;
}

.u-pass-input-background {
    background-color: #E3F5FF;
}

/*colors*/
.u-color-dark-blue {
    color: var(--color-dark-blue);
}

.u-color-medium-blue {
    color: var(--color-medium-blue);
}

.u-color-bright-blue {
    color: var(--color-bright-blue);
}

.u-color-light-blue {
    color: var(--color-light-blue);
}

.u-color-lightest-blue {
    color: var(--color-lightest-blue);
}

.u-color-white {
    color: #FFFFFF;
}

.u-password-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
    height: 656px;
    border-radius: 24px;
}



/*Work in progress: adaptar fuentes del figma */

.u-titles {
    font-size: 2em;    
}

.u-subtitles {
    width: 311px;
    height: 73px;
    top: 185px;
    left: 58px;
    padding: 0px 26px 0px 0px;    
}

.u-paragraph {
    width: 162px;
    height: 48px;
    top: 289px;
    left: 58px;
    padding: 0px 18px 2px 0px;
    gap: 0px;
    opacity: 0px;
}

.u-linkStyleless {
    text-decoration: none !important;
}
