.need-help-font-styles {
    font-family: Open Sans;    
    text-align: left;
    letter-spacing: -0.44px;
    span {
        font-size: 16px;
        font-weight: 300;
        line-height: 21.79px;        
    }
    h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 29.96px;
    }
}